.paginator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
  border-top: 1px solid #dfdfdff6;
  .page,
  .prev,
  .next {
    a {
      display: block;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      background-color: #fff;
      padding: 5px 8px;
      border-radius: 5px;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: #ffb74d;
        color: #fff;
      }
    }

    &Active {
      a {
        background-color: #ffb74d;
        color: #fff;
      }
    }
  }

  .disabledNextPrev {
    a {
      cursor: default;
      background-color: #eeeeee;
      &:hover {
        background-color: #eeeeee;
        color: #000000;
      }
    }
  }

  //   .prev,
  //   .next {
  //     background-color: #b13737;
  //     padding: 5px;
  //     border-radius: 5px;
  //     a {
  //       color: #fff;
  //     }
  //   }
}
