.search {
  position: relative;
  @media (max-width: 950px) {
    margin: 0 auto;
    padding: 15px 0;
  }
  @media (max-width: 730px) {
    margin: 0 auto;
    padding: 0;
  }
}

.searchInput {
  border: 2px solid #dabe77;
  border-radius: 5px;
  padding: 5px 50px 5px 22px;
  font-size: 16px;
  background-color: #f1f1f1;
  transition: all 0.3s ease;
  width: 250px;
  &:focus {
    width: 260px;
    border: 2px solid #fe5f1e;
    background-color: #ffffff;
  }
}

.searchIco {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 6px;
  top: 50%;
  transform: translate(0, -50%);
}

.cleanIco {
  z-index: 5;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translate(0, -50%);
  width: 18px;
  height: 18px;
  padding: 4px;
  background-color: #e2e1e1;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #b9b9b9;
  }
}
